.product {
  border: 1px solid #EEE;
  border-radius: 3px;
  padding: 10px;
  display: flex;

  &-image {
    width: 65px;
    height: 65px;
  }

  &-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
    line-height: 16px;
    color: #212122;

    &-price {
      font-weight: bold;
      font-size: 14px;
      color: #212122;
      text-align: right;
      margin-top: 15px;
    }
  }
}